
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300&display=swap');

:root{
    --padding-container:100px 0;
    --color-tittle: rgb(207, 159, 2);
}

body{

    font-family: 'Roboto', sans-serif;

}



.container{
    width: 95%;
    max-width: 1600px;
    margin: 0;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 200px;
    min-height: 10px;
    max-height: 150px;
    position: relative;
    display: grid;
    background-color: #000000;
}


.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_logo{
   padding-left: 30px; 
    
   
}

.nav_picture{
    display: block;
    max-width: 180px;

    
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav_items {
    list-style: none;
    
}

.nav_links{
    color: #fff;
    text-decoration: none;
    
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}


.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);

}



/* main */

main{
    color: #fff;
    padding: 20px;
    background-color: #000000;
    padding-bottom: auto;
    
}


/* proyectos container */

.proyectos{
    
    background-color: #000000;
    padding-bottom: auto;
    
   
}
.proyectos_title{
    
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px #fff;
    
    
}
.proyectos_container{
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    align-items: center;
    height: auto;
    padding: 0;
    padding-top: 0;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    

    
    


}

.proyectos_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    border: 2px solid #fff;
    width: 80vw;
    height: 50vw;
    margin: 0 auto;
    
}

.proyectos_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}



.proyectos_img{
    display: block;
    width: 100%;
    height: 100%;
    
    
}

.proyectos_arrow{
    width: 120%;
    cursor: pointer;
    
}


.proyectos_body2{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    border: 2px solid #fff;
    width: 80vw;
    height: 50vw;
    margin: 0 auto;
    
}

.proyectos_body--show2{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}

.proyectos_body3{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    border: 2px solid #fff;
    width: 80vw;
    height: 50vw;
    margin: 0 auto;

}

.proyectos_body--show3{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}


/* footer */

.footer{
    background-color: #1d293f;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #f3b714;
}

.footer_newsletter{
    padding-bottom: 20px;

}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    
}

.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{

    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1 rem;
    outline: none;
    border: none;
    margin-right: 16px;

}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color:#2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
    padding-top: 15px;
}

.footer_icons{
    text-decoration: none;
    margin-bottom: 10px;

}

.footer_img{
    width: 30px;
}

/* MEDIA QUERIES */


@media(max-width:1200px){

    .proyectos_title{
        text-align: center;
        font-size: 1.2rem;
        text-shadow: 0px 0px 5px #fff;
    }
    .proyectos_arrow{
        width: 110%;
        
        
    }

}

@media(max-width:1000px){

    .proyectos_title{
        text-align: center;
        font-size: 0.9rem;
        text-shadow: 0px 0px 5px #fff;
    }
    .proyectos_arrow{
        width: 100%;
        
        
    }
    


}

@media(max-width:800px){


    .container{
        width: 100%;
    }
    .nav_menu{
        display: block;
        padding-right: 20px;

    }


    .nav_menu{
        padding-left: 5px;
        margin-left: 4px;
    }
   

    .nav_logo{
        padding: 0;
        margin: auto;
        padding-left: 50px;
        
    }
    
  

    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close{
        position: absolute;
        top: 33px;
        right: 39px;
        width: 30px;
        cursor: pointer;
    }

    .nav_img{
        width: 30px;
        
    }


   

    .proyectos_title{
        text-align: center;
        font-size: 0.6rem;
        text-shadow: 0px 0px 5px #fff;
    }

  
    .proyectos_arrow{
        width: 80%;
        
        
    }
    
    


   .footer_container{
    flex-wrap: wrap;
    
   }

   .footer_title{
    text-align: center;
   }

   .nav--fotter{
    width: 100%;
    justify-items: center;
   }

   .nav_link--footer{
    width: 100%;
    justify-content: space-evenly;
    margin: 0;

   }

   .footer_form{
    width: 100%;
    justify-content: space-evenly;
   }

   .footer_input{
    flex: 1;
   }
}

@media(max-width:600px){
    

    .container{
        width: 100%;
    }
    .proyectos_title{
        text-align: center;
        font-size: 0.5rem;
        text-shadow: 0px 0px 5px #fff;
    }

    .proyectos_container{
        margin-bottom: 10px;
    }
    
    .proyectos_arrow{
        width: 60%;
        
        
    }
    
    
    .footer_title{
        justify-self: center;
        margin-bottom: 15px;
    }



    .footer_inputs{
        flex-wrap: wrap;
        
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav_link--footer{
        justify-content: space-between;
    }

    .footer_input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer_submit{ 
        margin-right: auto;
        margin-left: 0;
    }


}